---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


<!-- – [Visiting Lecturer] Snyder, C.G.. Inverse Problems and Machine Learning, Combinatorial Complexity of Deep
Networks: Think Weight Configurations, not Perturbations!. Texas A&M University – Mathematics Department,
Lecture Series: Inverse Problems and Machine Learning. [Sponsored Oral Presentation] by The Dept of
Mathematics at A&M (Dr. Boris Hanin). Nov 13, 2020 -->



{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
