# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

# Annoying Mac OS files
.DS_Store

images/sr_worm-vision_gui_15s.mov
images/sr_worm-vision_gui_15s.mp4
#TODO delete these or integrate them