<footer class="main-footer">
  <div class="footer-license-wrapper">
    <a class="license" href="https://github.com/22csnyder/22csnyder.github.io/blob/master/LICENSE" title="View the license for this site and it's content"><small>All content is copyright &copy; {{ site.start-year }} - {{ site.time | date: '%Y' }} Christopher Snyder, any trademarks are property of their respective owners</small></a>
    <!-- TODO what is blob/master -->
  </div>
  <div class="made-by-wrapper">
    <a class="made-by" href="//github.com/22csnyder/22csnyder.github.io">Made by C. Snyder</a>
  </div>
</footer>
